@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

//common
@import "mixins/mx-hover";
@import "mixins/mx-prefix";

//components

//skins

//layout
@import "mixins/mx-minWH";



@import "mixins/mx-align";
@import "mixins/mx-float";
@import "mixins/mx-clearfix";
@import "mixins/mx-hide";
@import "mixins/mx-ir";
@import "mixins/mx-text";
@import "mixins/mx-opacity";
@import "mixins/mx-disabled";
@import "mixins/mx-animation";
@import "mixins/mx-screen";
@import "mixins/mx-layer";
